<%- include("partials/header") %>

<h1>
    Edit Routes - Show Edit Forms
</h1>

<form action="/update" method="post">
    <input type="text" name="" id="name" placeholder="Update Data">
    <input type="submit" value="Update">
</form>

<p>
    When You Update The Form - Update Route Occurs. & Re-Direct To Index or Specific page. 
    Update With New Data... 
</p>

<%- include("partials/footer") %>